{% extends 'base.html' %}
{% block content %}


<div class="homepage">
  <h1>Работа</h1>
  <div>
      Работа — важная часть жизни каждого из нас. Однако в жизни каждого человека наступает момент, когда он задумывается о смене работы, а может быть, даже и сферы деятельности. Увы, перемены — это не всегда легко, поэтому сомнения неизбежны.

С чего начать поиск работы? Какая работа мне подойдет? Есть ли такие вакансии на рынке труда? Как правильно составить резюме? Ответить на все эти вопросы поможет сайт headhunter.kg, где ежедневно тысячи людей ищут и находят работу, а работодатели размещают вакансии.

Как лучше искать работу на headhunter.kg? Вы можете просматривать вакансии и откликаться на понравившиеся предложения. К услугам кандидатов обширный каталог профессиональных областей, где можно выбрать специальность. Достаточно всего лишь пару раз кликнуть мышкой, чтобы получить список актуальных и качественных предложений в выбранном регионе. Расширенные настройки поиска гарантируют, что интересующая вас работа будет найдена. Если вы уже определились, вакансии каких специальностей вам подходят, вам остаётся только создать привлекательное резюме и начинать поиск работы мечты! Создание резюме способствует тому, что вас заметят и пригласят на собеседование — работа не заставит себя ждать! Поэтому мы рекомендуем сочетать оба этих метода, чтобы найти работу.


  </div>
</div>

{% endblock %}
