<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <h1>Поиск работы и работников</h1>
  <div>
      Pacifiko aŭ Pacifika Oceano, la plej granda akvokorpo en la mondo, estas oceano, nome la plej granda dividaĵo el kvin en la mondo kaj el la tuta hidrosfero, kiu okupas trionon de la supraĵo de la Tero. Etendiĝante proksimume 15 500 km de la Beringa Maro en la arkta nordo ĝis la glaciaj marĝenoj de la Maro de Ross de Antarkto en la sudo aŭ la Suda Oceano (depende de la konsidero), Pacifiko atingas sian plej grandan larĝon ĉe proksimume 5 gradoj norde latitudo, kie ĝi etendiĝis proksimume 19 800 km de Indonezio ĝis la marbordo de Kolombio. Ĝi estas limigita per la kontinentoj Azio kaj Aŭstralio okcidente kaj Ameriko oriente. La okcidentan limon de la oceano oni ofte metas ĉe la Malaka Markolo.

      Pacifiko enhavas proksimume 25 000 insulojn (pli ol la suma nombro en la cetero de la oceanoj de la mondo kune), preskaŭ ĉiuj el kiuj troviĝas sude de la ekvatoro. Pacifiko kovras areon de 179.7 milionoj da km². Tiel ĝi kovras ĉirkaŭ 46% el la akva surfaco de la Tero kaj ĉirkaŭ 32% el ties totala surfaca areo, estante pli granda ol la kombinita terareo de la Tero (148 000 000 km²).
  </div>
</body>
</html>